<form class="form-search" #f="ngForm" (ngSubmit)="SearchWeather(f.value)">
  <div class="form-group">
    <div class="row">
      <div class="col">
          <input type="text" class="form-control" name="searchstring" ngModel #searchstring="ngModel" placeholder="Enter city name">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="searchstring" ngModel #searchstring1="ngModel" placeholder="Enter State name">
      </div>
    </div>
  </div>
  <div class="form-group">
    <button style="margin-left:15px;" class="btn" type="submit">Submit</button>
  </div>
</form>

<div *ngIf="weatherDetail" class="card-body">
    <p class="well lead">
      <i>City, State, Country :</i> {{ this.op_city }} {{ this.op_region }} {{ this.op_country }} <br>
      <i>Current Condition :</i> {{ this.op_text }} <br>
      <i>Current Temperature :</i> {{ this.op_temp }} <br>
    </p>
</div>